$primary: #a3a86d;
$secondary: #aa722a;
$success: #738054;
$info: #be996e;
$warning: #ffb100;
$danger: #b74100;
$light: #e1d5b8;
$dark: #738054;

@import "..\node_modules\bootstrap\scss\bootstrap.scss";
